:root {
  /* bg colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
html,
body {
  height: 100% !important;
}
body {
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    black 50%,
    black 100%
  );
}
header {
  display: flex;
  height: 100px;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    black 50%,
    black 100%
  );
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  padding: 0 50px;
}
.logoburguer {
  width: 90px;
}
nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav ul :nth-child(4) {
  gap: 10px;
}
ul li input {
  background: transparent;
  outline: none;
}
ul li {
  display: flex;
  align-items: center;
}
.title {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.container-principal {
  display: flex;
  flex: 1;
}
.container-principal:nth-child(3) p{
  color: white;
}
.container-principal:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.container-principal div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-principal img {
  width: 660px;
}
.container-principal div h1,
span {
  color: chocolate;
}
.info-main a,
p {
  color: black;
}
main {
  display: flex;
  flex-direction: column;
}
article {
  display: flex;
  height: 90vh;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  padding: 50px 50px 0;
}
#main {
  display: flex;
}
.redes-color {
  display: flex;
  justify-content: end;
  gap: 40px;
  font-size: 30px;
}
.redes-color i {
  color: white;
}
#menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(85, 55, 16);
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 50px;
}
.card-burguer {
  display: flex;
  width: 18%;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.363);
}
.card-burguer img {
  width: 100%;
}
.open-menu{
  display: flex !important;
}
.open-cart{
  display: flex !important;
}
#hamburguesas {
  background-color: rgb(85, 55, 16);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
}
.hidden{
  display: none;
}

.products-container{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
  width: 80%;
}
.product{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.363);
  padding-bottom: 20px;
}
.product-top{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.product-mid{
  justify-content: space-around;
  display: flex;
  width: 100%;
}
.product-bot{

  display: flex;
  width: 100%;
}
.product-offer{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.product-info{
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.product-user{
  display: flex;
}
.offer-time{
  display: flex;
}
#contacto {
  display: flex;
  background-color: black;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 30px;
}
.form {
  display: flex;
  justify-content: center;
  width: 30%;
}
.form ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.form ul li {
  justify-content: end;
}
.form ul li input {
  width: 100%;
}
.form ul li textarea {
  outline: none;
  resize: none;
  width: 100%;
  background-color: transparent;
}
.cart-icon{
  cursor: pointer;
}

#menu-toggle, #cart-toggle, .menu-label{
  display: none;
}
#login{
  background-color: #212529;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.arrow-back{
  display: flex;
  padding: 20px;
  gap: 10px;
  align-items: center;
}
.container-login{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 35%;
  height: 60%;
  background-color: rgb(58, 58, 61);
  box-shadow: 0 0 10px #000;
}
.login a{
  padding: 8px;
  background-color: darkkhaki;
  border-radius: 5px;
}
.login h3{
  font-size: 1.8rem;
}
.login-padding div input{
  height: 48px;
  width: 100%;
  background-color: #212529;
  border: none;
  border-radius: 4px;
  padding-left: 55px;
  outline: none;
}
.login-padding div{
  display: flex;
  width: 100%;
  align-items: center;
}
.login-padding div i{
  position: absolute;
  padding: 0 15px;
}
.login-padding{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 0 35px;
}

.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: linear-gradient(to top, #121e3c, var(--background));
  border-left: 1px solid var(--nav-bg);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
  color: var(--text-gray);
  font-size: 14px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--electric);
  border-radius: 10px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-title {
  color: var(--text-white);
  font-weight: 600;
  font-size: 14px;
}

.item-bid {
  color: var(--text-gray);
  font-size: 12px;
  font-weight: 300;
}

.item-price {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--text-white);
  font-weight: 400;
}

.up {
  border: 1px solid var(--electric);
}

.down {
  background-color: var(--secondary);
  border: 1px solid var(--electric);
}

.item-quantity {
  color: var(--text-gray);
}

.divider {
  margin-top: 20px;
  border: 0.5px solid var(--electric);
  width: 100%;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cart-total p {
  color: var(--text-white);
  font-weight: 700;
}

.cart-total span {
  color: var(--text-white);
  font-weight: 400;
  font-size: 18px;
}


.btn-add,
.btn-buy,
.btn-delete {
  cursor: pointer;
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  border: none;
  transition: 0.3s all ease-out;
}

.btn-buy,
.btn-add {
  background: var(--primary);
}

.btn-buy,
.btn-delete {
  width: 100%;
}

.btn-delete {
  border: 2px solid var(--primary);
  background-color: transparent;
}

.btn-delete:hover {
  background: var(--primary);
  transition: 0.3s all ease-in;
}

.btn-load {
  background: none;
  border: 1px solid var(--electric);
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  #main{
    display: flex;
    flex-direction: column;
  }
  .container-principal img{
    width: 300px;
  }
  .container-principal{
    justify-content: center;
  }
}
@media (min-width: 600px) and (max-width: 1200px){
  #main{
    flex-direction: row;
  }
  .container-principal img{
    width: 300px;
  }
  .container-principal{
    justify-content: center;
  }
  .container-principal:nth-child(3){
    display: none;
  }
  article{
    height: unset;
  }
}


@media (max-width: 1200px) {
  .navbar-list{
    position: absolute;
    top: 101px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    border-top: 0px!important;
    border: 2px solid rgb(0, 204, 255);
    border-radius: 0px 0px 15px 15px;
    background: rgba(0, 0, 0, 0.63);
    padding: 45px 30px;
    align-items: center;
    gap: 25px;
    z-index: 2;
    display: none;
}
  .menu-label{
    display: flex;
    order: 2;
    cursor: pointer;
}
  .menu-label i {
    font-size: 28px;
}
  .menu-toggle{
    display: flex;
  }


}

